/* 좌하단 네비게이션 (https://bigforest.a2hosted.com/wiki/Mediawiki:Gadget-NavigationButtons.js) */
#navigation-buttons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 10;
    
    display: flex;
    overflow: hidden;
    
    background: color-mix(in srgb,var(--site-background),#ffffffcc 80%);
    backdrop-filter: var(--blur);
    
    box-shadow: var(--section-shadow);
    border-radius: var(--radius);
}

#navigation-buttons .oo-ui-buttonElement {
	padding: 0.15em;
	font-size: 105%;
	margin-right: 0;
}

#navigation-buttons .oo-ui-buttonElement:first-child {
	margin-left: 0;
}
